<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>
<!-- start cssload-loader -->
<div class="preloader" id="preloader">
    <div class="loader">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle
                    class="path"
                    cx="25"
                    cy="25"
                    r="20"
                    fill="none"
                    stroke-width="5"
            ></circle>
        </svg>
    </div>
</div>
<div th:replace="layout/header :: header"></div>
<section class="breadcrumb-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-list breadcrumb-top-list">
                    <ul class="list-items bg-transparent radius-none p-0">
                        <li><a href="index.html">Home</a></li>
                        <li>France</li>
                        <li>Hilton Hotel and Resorts</li>
                    </ul>
                </div>
                <!-- end breadcrumb-list -->
            </div>
            <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end breadcrumb-top-bar -->
<!-- ================================
    END BREADCRUMB TOP BAR
================================= -->

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-7 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                        <div  class="btn-box ">
                            <a
                                    class="theme-btn"
                                    data-src="/frontend/images/img1.jpg"
                                    data-fancybox="gallery"
                                    data-caption="Showing image - 01"
                                    data-speed="700">
                                <i class="la la-photo me-2"></i>More Photos
                            </a>

                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end breadcrumb-wrap -->
</section>
<!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START TOUR DETAIL AREA
================================= -->
<section class="tour-detail-area padding-bottom-90px">
    <div
            class="single-content-navbar-wrap menu section-bg"
            id="single-content-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav" id="single-content-nav">
                        <ul>
                            <li>
                                <a
                                        data-scroll="description"
                                        href="#description"
                                        class="scroll-link active"
                                >Hotel Details</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title titlee font-size-26">Hilton Hotel and Resorts</h3>
                                <h3 class="title" style="margin: 10px; color: #9a6e3a">Giới thiệu khách sạn </h3>
                                <p id="shortDes" ></p>
                            </div>
                            <!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item py-4">
                                <div class="row">
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3">
                                                <i class="la la-hotel"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Hotel Type
                                                </h3>
                                                <span class="font-size-13">4 Star</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-user"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Extra People
                                                </h3>
                                                <span class="font-size-13">No Charge</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-bed"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Minimum Stay
                                                </h3>
                                                <span class="font-size-13">2 Nights</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-money"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Security Deposit
                                                </h3>
                                                <span class="font-size-13">$279</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-globe"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Country
                                                </h3>
                                                <span class="font-size-13">France</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>


                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div  class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title titlee font-size-20"></h3>
                                <h4 class="title" style="margin: 10px; color: #9a6e3a">Mô Tả khách sạn </h4>
                                <p id="pills-home" class="py-3">
                                    Per consequat adolescens ex, cu nibh commune temporibus
                                    vim, ad sumo viris eloquentiam sed. Mea appareat
                                    omittantur eloquentiam ad, nam ei quas oportere
                                    democritum. Prima causae admodum id est, ei timeam
                                    inimicus sed. Sit an meis aliquam, cetero inermis vel ut.
                                    An sit illum euismod facilisis, tamquam vulputate
                                    pertinacia eum at.
                                </p>
                            </div>
                            <!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div>



                        <div class="review-box">
                            <div class="single-content-item padding-top-40px">
                                <h3 class="title font-size-20">Đánh giá khách sạn</h3>
                                <div class="comments-list padding-top-50px">
                                    <div class="comment">
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <h3 class="comment__author">Jenny Doe</h3>
<!--                                                <div class="meta-data-inner d-flex">-->
<!--                              -->
<!--                                                    <p class="comment__date">April 5, 2019</p>-->
<!--                                                </div>-->
                                            </div>
                                            <p class="comment-content">
                                                Lorem ipsum dolor sit amet, dolores mandamus
                                                moderatius ea ius, sed civibus vivendum imperdiet
                                                ei, amet tritani sea id. Ut veri diceret fierent
                                                mei, qui facilisi suavitate euripidis
                                            </p>

                                        </div>
                                    </div>
                                    <!-- end comments -->


                                    <div class="btn-box load-more text-center">
                                        <button
                                                class="theme-btn theme-btn-small theme-btn-transparent"
                                                type="button"
                                        >
                                            Load More Review
                                        </button>
                                    </div>
                                </div>
                                <!-- end comments-list -->

                                <!-- end comment-forum -->
                            </div>
                            <!-- end single-content-item -->
                        </div>
                        <!-- end review-box -->
                    </div>
                    <!-- end single-content-wrap -->
                </div>

<!--                // phần này hiển thị chi tiết sản phẩm-->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <div class="sidebar-widget-item">
                                <div  class="sidebar-book-title-wrap mb-3">
                                    <h3>Thông tin phòng</h3>
                                    <p>
                        <span class="text-form">From</span
                        ><span id="price" class="text-value ms-2 me-1">$399.00</span>
                                    </p>
                                </div>
                            </div>
                            <!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    <form action="#">
                                        <div class="input-box">
                                            <label class="label-text">Loại khách sạn</label>
                                            <div class="form-group select2-container-wrapper">
                                                <h3 id="cate" style="margin: 10px; color: #9a6e3a"> </h3>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                    <label class="font-size-16">Số lượng </label>
                                    <div class="qtyBtn d-flex align-items-center">
                                        <div class="qtyDec"><i class="la la-minus"></i></div>
                                        <input type="text" name="qtyInput" value="0" />
                                        <div class="qtyInc"><i class="la la-plus"></i></div>
                                    </div>
                                </div>

                            </div>
                            <!-- end sidebar-widget-item -->
                            <div class="btn-box pt-2">
                                <a
                                        th:href="@{${'/views/order/pl'}}"
                                        class="theme-btn text-center w-100 mb-2"
                                ><i class="la la-shopping-cart me-2 font-size-18"></i>Book Now</a>

                            </div>
                        </div>

                    </div>
                    <!-- end sidebar -->
                </div>
                <!-- end col-lg-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end single-content-box -->
</section>


<footer th:replace="layout/footer :: footer"></footer>

<div th:replace="layout/script :: script"></div>

<script>
    initProductDetail();
    // clickCart();
    // function clickCart() {
    //     $('#addToCart').click(function () {
    //         let sizeId = $('input[type="radio"][name=sizeOption]:checked').val();
    //         let quantity = $('input[type="text"][name="qtt-0"]').val();
    //         let weight = $('input[type="radio"][name=sizeOption]:checked').data("weight");
    //         let price = $('span[name=priceProduct]').data("value");
    //         let productId = $('span[name=nameProduct]').data("value");
    //
    //         if ($.isNumeric(price) && price !== 0) {
    //             let totalOneP = price * weight * quantity;
    //             console.log(sizeId, quantity, weight, price, totalOneP, productId);
    //             let objCart = {
    //                 productId: productId,
    //                 sizeId: sizeId,
    //                 quantity: quantity,
    //                 totalOneP: totalOneP
    //             };
    //             addToCart(objCart);
    //         } else alertInfo("", "Bạn cần chọn size để tiếp tục", "error");
    //
    //     })
    // }

    function initProductDetail() {
        let codeProduct = getCode();
        let objFilter = {
            code: codeProduct,
            sizeId: null
        };
        getProduct(objFilter, true);
    }
    function formatPrice(price) {
        // Hàm định dạng số có dấu chấm phân cách hàng nghìn
        return price.toLocaleString('vi-VN', { style: 'decimal', minimumFractionDigits: 0 });
    }
    function getProduct(objectFilter, loadImg) {
        $.ajax({
            type: "POST",
            url: HOST + "/api/product/detail",
            contentType: "application/json",
            data: JSON.stringify(objectFilter),
            dataType: "json",
            success: function (response) {
                console.log(response);
                // Lấy thông tin product theo response trả về
                let productData = response.data;
                let price = formatPrice(productData.price) + ' VNĐ';

                let img =
                    '<a ' +
                    'class="theme-btn" ' +
                    'data-src="' + productData.image + '" ' +
                    'data-fancybox="gallery" ' +
                    'data-caption="Showing image - Updated" ' +
                    'data-speed="700">' +
                    '<i class="la la-photo me-2"></i>More Photos' +
                    '</a>';

                $('.btn-box').html(img);



                // Load tên sản phẩm
                let nameProductHtml = '<span name="title font-size-26" data-value="' + productData.id + '">' + productData.name + '</span>'
                $('.titlee').html(nameProductHtml);

                // Load mô tả ngắn
                let shortDesciption = '<p>' + productData.shortDescription + '</p>';
                $('#shortDes').html(shortDesciption);

                // Load mô tả sản phẩm
                let description = '<p>' + productData.description + '</p>';
                $('#pills-home').html(description);

                let category = '<a href="#" class="link-oragne">' + productData.category + '</a>'
                $('#cate').html(category);

                let priceHtml = '<span>' + price + '</span>';
                $('#price').html(priceHtml);

                // Bắt event thay đổi size
                changeSize();
                let object = {
                    productId: productData.id,
                };
               // getCommentsAndDisplay(object);

            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function changeSize() {
        let sizeOptionValue;
        let codeProduct = getCode();
        $('input[type=radio][name=sizeOption]').change(function () {
            sizeOptionValue = $(this).val();
            $('input[type="radio"][name=sizeOption]').not(this).prop('checked', false);

            let objFilter = {
                code: codeProduct,
                sizeId: sizeOptionValue
            };
            getProduct(objFilter, false);
            $(this).prop('checked', true);
        })
    }
</script>

</body>
</html>
