<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>
<!-- start cssload-loader -->
<div class="preloader" id="preloader">
    <div class="loader">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle
                    class="path"
                    cx="25"
                    cy="25"
                    r="20"
                    fill="none"
                    stroke-width="5"
            ></circle>
        </svg>
    </div>
</div>
<div th:replace="layout/header :: header"></div>
<section class="breadcrumb-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-list breadcrumb-top-list">
                    <ul class="list-items bg-transparent radius-none p-0">
                        <li><a href="index.html">Home</a></li>
                        <li>France</li>
                        <li>Hilton Hotel and Resorts</li>
                    </ul>
                </div>
                <!-- end breadcrumb-list -->
            </div>
            <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<section class="breadcrumb-area bread-bg-7 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                        <div  class="btn-box btn-boxx">
                            <a
                                    class="theme-btn"
                                    data-src="/frontend/images/img1.jpg"
                                    data-fancybox="gallery"
                                    data-caption="Showing image - 01"
                                    data-speed="700">
                                <i class="la la-photo me-2"></i>Xem ảnh
                            </a>

                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end breadcrumb-wrap -->
</section>

<section class="tour-detail-area padding-bottom-90px">
    <div
            class="single-content-navbar-wrap menu section-bg"
            id="single-content-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav" id="single-content-nav">
                        <ul>
                            <li>
                                <a
                                        data-scroll="description"
                                        href="#description"
                                        class="scroll-link active"
                                >Hotel Details</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end single-content-navbar-wrap -->
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                            <div class="single-content-item pb-4">
                                <h3 class="title titlee font-size-26">Hilton Hotel and Resorts</h3>
                                <h3 class="title" style="margin: 10px; color: #9a6e3a">Giới thiệu khách sạn </h3>
                                <p id="shortDes" ></p>
                            </div>
                            <!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item py-4">
                                <div class="row">
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3">
                                                <i class="la la-hotel"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Hotel Type
                                                </h3>
                                                <span class="font-size-13">4 Star</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-user"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Extra People
                                                </h3>
                                                <span class="font-size-13">No Charge</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-bed"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Minimum Stay
                                                </h3>
                                                <span class="font-size-13">2 Nights</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-money"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Security Deposit
                                                </h3>
                                                <span class="font-size-13">$279</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div
                                                class="single-tour-feature d-flex align-items-center mb-3"
                                        >
                                            <div
                                                    class="single-feature-icon icon-element ms-0 flex-shrink-0 me-3"
                                            >
                                                <i class="la la-globe"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">
                                                    Country
                                                </h3>
                                                <span class="font-size-13">France</span>
                                            </div>
                                        </div>
                                        <!-- end single-tour-feature -->
                                    </div>


                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div  class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title titlee font-size-20"></h3>
                                <h4 class="title" style="margin: 10px; color: #9a6e3a">Mô Tả khách sạn </h4>
                                <p id="pills-home" class="py-3">
                                    Per consequat adolescens ex, cu nibh commune temporibus
                                    vim, ad sumo viris eloquentiam sed. Mea appareat
                                    omittantur eloquentiam ad, nam ei quas oportere
                                    democritum. Prima causae admodum id est, ei timeam
                                    inimicus sed. Sit an meis aliquam, cetero inermis vel ut.
                                    An sit illum euismod facilisis, tamquam vulputate
                                    pertinacia eum at.
                                </p>
                            </div>
                            <!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div>



                        <div class="review-box">
                            <div class="single-content-item padding-top-40px">
                                <h3 class="title font-size-20">Đánh giá khách sạn</h3>
                                <div class="comments-list padding-top-50px">
                                    <div class="comment">
                                        <div class="comment-body">
                                            <h5 class="comment__author">
                                                a
                                                <i class="fas fa-trash-alt delete-icon" data-id="4"></i>
                                                <i class="fas fa-pen update-icon" data-id="4"></i>
                                            </h5>
                                            <p class="comment-content">h</p>
                                        </div>
                                    </div>


                                </div>

                                <div class="modal" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">Cập Nhật Đánh Giá</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form id="updateForm">

                                                    <div class="mb-3">
                                                        <label for="conten" class="form-label">Nội dung chỉnh sửa</label>
                                                        <textarea class="form-control" id="conten" rows="4"></textarea>
                                                    </div>
                                                    <input type="hidden" id="id">
                                                </form>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success" id="buttonApply">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment-forum padding-top-40px">
                                    <div class="form-box">
                                        <div class="form-title-wrap">
                                            <h3 class="title">Viết đánh giá sản phẩm</h3>
                                        </div>
                                        <!-- form-title-wrap -->
                                        <div class="form-content">

                                            <div class="contact-form-action">
                                                <form method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="input-box">
                                                                <label class="label-text">Message</label>
                                                                <div class="form-group">
                                                                    <span class="la la-pencil form-icon"></span>
                                                                    <textarea id="content" class="message-control form-control" name="message" placeholder="Write message"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="btn-box">
                                                                <button type="button" id="post" class="theme-btn">
                                                                    Leave a Review
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- end contact-form-action -->
                                        </div>
                                        <!-- end form-content -->
                                    </div>
                                    <!-- end form-box -->
                                </div>
                                <!-- end comments-list -->

                                <!-- end comment-forum -->
                            </div>
                            <!-- end single-content-item -->
                        </div>
                        <!-- end review-box -->
                    </div>
                    <!-- end single-content-wrap -->
                </div>

<!--                // phần này hiển thị chi tiết sản phẩm-->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <div class="sidebar-widget-item">
                                <div  class="sidebar-book-title-wrap mb-3">
                                    <h3>Thông tin phòng</h3>
                                    <p>
                                        <span class="text-form">Giá</span>
                                        <span id="price" class="text-value ms-2 me-1">$399.00</span>
                                    </p>
                                </div>
                            </div>

                            <div class="input-box">

                                <div  class="form-group">
                                    <span>Địa chỉ : </span><label id="address" class="label-text"> Địa chỉ</label>
                                </div>
                            </div>
                            <!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    <form action="#">
                                        <div class="input-box">
                                            <label class="label-text">Loại khách sạn</label>
                                            <div class="form-group select2-container-wrapper">
                                                <h3 id="cate" style="margin: 10px; color: #9a6e3a"> </h3>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                    <label class="font-size-16">Số lượng </label>
                                    <div class="qtyBtn d-flex align-items-center">
                                        <button name="qtt-0"  onclick="minusQuantity(this.name, this.value)" value="1" class="minus-btn" type="button">
                                            <i class="la la-minus"></i></button>
                                        <input type="text" onchange="changeQuantity(this.name,this.value)" name="qtt-0" value="1">
                                        <button name="qtt-0" onclick="plusQuantity(this.name, this.value)" value="1" class="plus-btn" type="button">
                                            <i class="la la-plus"></i></button>
                                    </div>
                                </div>

                            </div>

                            <div class="btn-box pt-2">
                                <a id="createBooking" class="theme-btn text-center w-100 mb-2">
                                    <i class="la la-shopping-cart me-2 font-size-18"></i>Book Now
                                </a>
                            </div>

                        </div>

                    </div>
                    <!-- end sidebar -->
                </div>
                <!-- end col-lg-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end single-content-box -->
</section>


<footer th:replace="layout/footer :: footer"></footer>

<div th:replace="layout/script :: script"></div>

<script>
    initProductDetail();
    clickBooking();
    let object = { productCode: getCode() };
    getCommentsAndDisplay(object);
    // Biến toàn cục để lưu giá sản phẩm
    let currentProductPrice = 0;

    function getProduct(objectFilter, loadImg) {
        $.ajax({
            type: "POST",
            url: HOST + "/api/product/detail",
            contentType: "application/json",
            data: JSON.stringify(objectFilter),
            dataType: "json",
            success: function (response) {
                const productData = response.data;

                if (!productData) {
                    console.error("Product data is missing.");
                    return;
                }

                // Lấy giá sản phẩm từ API
                currentProductPrice = productData.price;

                // Format giá và hiển thị trên giao diện
                let price = formatPrice(currentProductPrice) + ' VNĐ';
                let priceHtml = '<span name="priceProduct" data-value="' + currentProductPrice + '">' + price + '</span>';
                $('#price').html(priceHtml);

                let img =
                    '<a class="theme-btn" ' +
                    'data-src="' + productData.image + '" ' +
                    'data-fancybox="gallery" ' +
                    'data-caption="Showing image - Updated" ' +
                    'data-speed="700">' +
                    '<i class="la la-photo me-2"></i>Xem ảnh' +
                    '</a>';

                $('.btn-boxx').html(img);

                let nameProductHtml = '<span name="nameProduct" data-value="' + productData.id + '">' + productData.name + '</span>';
                $('.titlee').html(nameProductHtml);

                $('#shortDes').html('<p>' + productData.shortDescription + '</p>');
                $('#address').html('<p style="color: #9a6e3a;fo">' + productData.address + '</p>');
                $('#pills-home').html('<p>' + productData.description + '</p>');
                $('#cate').html('<a href="#" class="link-oragne">' + productData.category + '</a>');

                // changeSize();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function clickBooking() {
        $('#createBooking').click(function () {
            let quantity = $('input[type="text"][name="qtt-0"]').val();
            let price = currentProductPrice; // Lấy giá từ biến toàn cục
            let productId = $('span[name=nameProduct]').data("value");

            // Kiểm tra giá hợp lệ (số và khác 0)
            if ($.isNumeric(price) && price !== 0) {
                let totalOneP = price * quantity; // Tính tổng giá trị của sản phẩm
                console.log(quantity, price, totalOneP, productId);

                let objCart = {
                    productId: productId,
                    quantity: quantity,
                    totalOneP: totalOneP
                };

                // Gọi hàm tạo booking
                createBooking(objCart);
            } else {
                alertInfo("", "Giá sản phẩm không hợp lệ hoặc chưa chọn số lượng", "error");
            }
        });
    }

    function createBooking(objCart) {
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/cart/add-to-cart",
            contentType: "application/json",
            data: JSON.stringify(objCart),
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.code === 200) {
                    alertInfo("", "Bạn đã Đặt phòng thành công", "success");
                    countCart(); // Cập nhật giỏ hàng

                    // Chuyển hướng đến trang giỏ hàng sau khi đặt phòng thành công
                    setTimeout(function () {
                        window.location.href = "http://localhost:8080/views/cart";
                    }, 1500); // Chờ 1.5s để hiển thị thông báo trước khi chuyển trang
                } else {
                    window.location.href = "http://localhost:8080/login"; // Nếu lỗi, chuyển đến trang đăng nhập
                }
            },
            error: function (error) {
                console.log(error);
                alertInfo("", "Đã có lỗi xảy ra. Vui lòng thử lại", "error");
            }
        });
    }


    function initProductDetail() {
        let codeProduct = getCode();
        let objFilter = {
            code: codeProduct
        };
        getProduct(objFilter, true);
    }

    function formatPrice(price) {
        return price ? price.toLocaleString('vi-VN', { style: 'decimal', minimumFractionDigits: 0 }) : 'N/A';
    }

    // hiển thị comment
    function getCommentsAndDisplay(object) {
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/comments",
            contentType: "application/json",
            data: JSON.stringify(object),
            dataType: "json",
            success: function (response) {
                console.log(response); // Kiểm tra dữ liệu trả về
                let comments = response.data.content; // Kiểm tra nếu dữ liệu có ở đây

                if (comments && comments.length > 0) {
                    displayComments(comments); // Hiển thị bình luận nếu có
                } else {
                    console.log("Không có bình luận");
                }
            },
            error: function (xhr, status, error) {
                console.error("Lỗi khi lấy bình luận:", error);
            }
        });
    }

    function displayComments(comments) {
        let commentsHTML = '';
        comments.forEach(function (comment) {
            commentsHTML += '<div class="comment">' +
                '<div class="comment-body">' +
                '<h5 class="comment__author" style="font-size: 35px; color: black;">' + comment.username +
                '<i style="line-height: 1.3; color: #f14b4b; font-size: 71%; float:right; margin-left: 10px;" class=" fas fa-trash-alt delete-icon" data-id="' + comment.id + '"></i>' +
                '<i style="line-height: 1.3; color: #51f14b; font-size: 71%; float:right;" class="fas fas fa-pen update-icon" data-id="' + comment.id + '"></i>' +
                '</h5>' +
                '<p class="comment-content">' + comment.content + '</p>' +
                // '<p class="card-text"><small class="text-muted">' + comment.createdDate + '</small></p>' +
                '</div>' +
                '</div>';
        });
        $('.comment').html(commentsHTML);
    }

    $(document).on('click', '#post', function () {
        var content1 = $('#content').val();
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/comments/create",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                productCode: getCode(),
                content: content1
            }),
            success: function (response) {
                if (response.code !== 200) {
                    alertInfo("", "Bạn chưa mua hàng ", "error");
                }
                let object = { productCode: getCode() };
                getCommentsAndDisplay(object);  // Gọi lại để hiển thị bình luận sau khi thêm
            },
            error: function (error) {
                console.log("Lỗi khi thêm bình luận:", error);
            }
        });
    });
    // Update icon click event
    $(document).ready(function () {
        // Edit icon click event
        $(document).on('click', '.update-icon', function () {
            console.log("Edit button clicked");

            var id = $(this).data('id'); // Retrieve data-id from the clicked icon
            var CommentUserName = $(this).closest('.card-body').find('.card-title').text().trim();
            var CommentContent = $(this).closest('.card-body').find('.card-text').first().text().trim();

            // Update modal with comment details
            $('#myModal').attr('data-id', id);
            $('#id').val(id);
            $('#username').val(CommentUserName);
            $('#conten').val(CommentContent);

            // Show the modal
            $('#myModal').modal('show');
        });
    });

    // Apply button click event
    $(document).on('click', '#buttonApply', function (e) {
        e.preventDefault(); // Prevent default form submission

        var id = $('#myModal').data('id');

        $.ajax({
            type: "PUT",
            url: "http://localhost:8080/api/comments/" + id,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                id: id,
                username: $('#username').val(),
                name: $('#name').val(),
                content: $('#conten').val()
            }),
            success: function (response) {
                if (response.code ===200) {
                    alertInfo("", "Sửa bình luận thành công ", "success")
                }
                let object = {
                    productCode: getCode(),

                };
                getCommentsAndDisplay(object);
                $('#myModal').modal('hide');
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    });
    // // xoóa
    $(document).on('click', '.delete-icon', function () {
        var id = $(this).data('id'); // Lấy ID từ thuộc tính data-id của biểu tượng
        console.log("Nút Xóa được nhấn cho ID:", id);

        // Kiểm tra nếu id không tồn tại hoặc không hợp lệ
        if (!id) {
            console.log("ID không tồn tại hoặc không hợp lệ");
            return;
        }

        var $tr = $(this).closest('tr'); // Lấy thẻ <tr> chứa biểu tượng
        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/api/comments/" + id,
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response.code ===200) {
                    alertInfo("", "Xóa bình luận thành công ", "success")
                }
                let object = {
                    productCode: getCode(),

                };
                getCommentsAndDisplay(object);

            },
            error: function (error) {
                console.log("Lỗi khi xóa bình luận:", error);
            }
        });
    });
</script>

</body>
</html>
