<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="TechyDevs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trizen - Travel Booking HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" th:href="@{/frontend/images/favicon.png}" />
    <link th:href="@{/frontend/css/theme-plugins.min.css}" rel="stylesheet">
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap"
            rel="stylesheet"
    />

    <!-- Template CSS Files -->
    <link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/select2.min.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/line-awesome.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/owl.carousel.min.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/owl.theme.default.min.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/jquery.fancybox.min.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/daterangepicker.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/animated-headline.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/jquery-ui.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/flag-icon.min.css}" />
    <link rel="stylesheet" th:href="@{/frontend/css/style.css}" />
</head>