<div th:fragment="script">

    <script th:src="@{/frontend/js/copy-text-script.js}"></script>
    <script th:src="@{/frontend/js/navbar-sticky.js}"></script>
    <script th:src="@{/frontend/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/frontend/js/jquery-ui.js}"></script>
    <script th:src="@{/frontend/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/frontend/js/select2.min.js}"></script>
    <script th:src="@{/frontend/js/moment.min.js}"></script>
    <script th:src="@{/frontend/js/daterangepicker.js}"></script>
    <script th:src="@{/frontend/js/owl.carousel.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.countTo.min.js}"></script>
    <script th:src="@{/frontend/js/animated-headline.js}"></script>
    <script th:src="@{/frontend/js/jquery.ripples-min.js}"></script>
    <script th:src="@{/frontend/js/quantity-input.js}"></script>
    <script th:src="@{/frontend/js/jquery.superslides.min.js}"></script>
    <script th:src="@{/frontend/js/superslider-script.js}"></script>
    <script th:src="@{/frontend/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/common/constant.js}"></script>
    <script type="text/javascript" th:src="@{/common/func.js}"></script>

</div>
